.content {
  min-height: calc(100vh - 150px);
}

.art-museum {
  display: block;
  float: left;
  height: 50%;
  width: auto;
}

.logo {
  background-color: red;
  height: 65px;
}

.header {
  background-color: #333333;
  height: 45px;
}

.footer {
  background-color: #333333;
  height: 60px;
  text-align: left;
}

footer {
  padding-top: 20px;
  text-align: center;
}

.footer-text {
  color: white;
}
